body {
    background: #f1f1f1;
}

.card {
    min-height:120px;
    width: 100%;
    background-color:#fbf8db;
    color:#666666;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(184,184,184,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(184,184,184,1);
    box-shadow: 10px 10px 5px -4px rgba(184,184,184,1);
    padding:10px;
    text-align: center;
    margin-bottom:20px;
}
.card h4 {
    font-family: 'Indie Flower', cursive;
}
.done {
    background-color: #d4ebc2;
}
.loading h1 {
    color: #CCC;
    text-align: center;
}

.action_bar {
    margin-top:20%;
}
.search_box {
    margin-top:30px;
}